html {
  box-sizing: border-box;
  height: 100%;
}
body {
  background: color-bg;
  color: white;
  font-family: sans-serif;
  line-height: 1.5;
  margin: 2px;
  min-height: 100%;
}
.alineacion {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
input {
  background-image: none;
  border: none;
  font: inherit;
  margin: 0;
  padding: 0;
}
.marco {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  width: 420px;
}

#login h2 {
	background: #f95252;
	border-radius: 20px 20px 0 0;
	color: #ffffff;
	font-size: 28px;
	padding: 22px 26px;
}

#login h2 span[class*="fontawesome-"] {
	margin-right: 13px;
}
#login fieldset {
	background: rgb(255, 255, 255);
	border-radius: 0 0 20px 20px ;
	padding: 20px 26px;
}
#login fieldset p {
	color: rgb(143, 143, 143);
	margin-bottom: 14px;
}
#login fieldset p:last-child {
	margin-bottom: 0;
}
#login fieldset input {
	border-radius: 3;
}
#login fieldset input[type="email"], #login fieldset input[type="password"] {
	background: rgb(243, 243, 243);
	color: rgb(143, 143, 143);
	padding: 4px 10px;
	width: 100%;
}
#login fieldset input[type="submit"] {
	background: #2fd67a;
	color: rgb(248, 247, 247);
	display: block;
	margin: 0 auto;
	padding: 4px 0;
	width: 100px;
}
#login fieldset input[type="submit"]:hover {
	background: #05612e;
}